@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.fade-in {
  transform: translateY(20px);
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.override-hidden .menuButton {
  overflow: visible;
}
